<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-pickup-call-card [hasFooter]="false" status="hold" updatedAt="24/08/2024 09:09:00" 
    createdAt="23/08/2024" notes="We have two bags that are full, one with plastic and the other with glasses"></app-pickup-call-card>

  <app-pickup-call-card [hasFooter]="false" status="processing" updatedAt="23/08/2024 20:21:00" 
    createdAt="22/08/2024" notes="We have two bags that are full"></app-pickup-call-card>

  <app-pickup-call-card [hasFooter]="false" status="finished" updatedAt="22/08/2024 18:07:00" 
    createdAt="21/08/2024" value="$ 20,00"></app-pickup-call-card>
  
</ion-content>
