<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/60-1024.png">
      </ion-avatar>
      <ion-label>
        <h1>Rowina Andini</h1>
        <p>Gathered: <span class="money">$ 15,00</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-pickup-call-card [hasFooter]="true" status="hold" updatedAt="24/08/2024 09:09:00"
    createdAt="23/08/2024" notes="We have two bags that are full, one with plastic and the other with glasses">
    <ion-card-header header>
      <ion-card-subtitle>Last pick up call</ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="clear" color="success" size="full" footer (click)="goToPickupCalls()">See all...</ion-button>
  </app-pickup-call-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="newToPickupCall()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
