.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center; /* Memastikan spinner berada di tengah secara horizontal */
    align-items: center; /* Memastikan spinner berada di tengah secara vertikal */

    ion-spinner{
        flex: none;
        align-self: center;
    }
}